.changepassword {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

    .changepassword .instructions-wrapper {
        padding-left: 16px;
    }

        .changepassword .instructions-wrapper p {
            font-size: 15px;
            line-height: 26px;
            margin: 0;
        }

        .changepassword .instructions-wrapper .instruction-item .icon-title {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            gap: 8px;
        }

            .changepassword .instructions-wrapper .instruction-item .icon-title h6 {
                font-size: 15px;
                margin: 0;
            }

        .changepassword .instructions-wrapper .instruction-item p {
            color: #726e60;
            margin-bottom: 6px;
            margin-right: 32px;
        }

::deep.changepassword .form-wrapper .oldpassword-wrapper + .text-danger {
    margin: 24px 0 0;
    list-style: none;
    font-size: 14px;
    direction: ltr;
    padding: 0;
}

    ::deep.changepassword .form-wrapper .oldpassword-wrapper + .text-danger li:not(:last-child) {
        margin-bottom: 8px;
    }
