@page "/Dashboard/SportsGroup/Federations/President/Add/{Id:guid}"

@rendermode InteractiveServer

<PageTitle>تصدی هیات ورزشی</PageTitle>

<div class="row form-wrapper">
    <div class="col3-5 mb-0">
        <div class="instructions">
            <p class="mb-0">در فرم مقابل آمار ورزشکاران سازمان یافته بر اساس هر هیات در هر شهرستان مربوط به ماه مشخصی ثبت می شوند.</p>
            <p class="mb-3">بدیهی است که آمار مربوطه معادل تعداد ورزشکاران آقا و خانم بیمه شده از ابتدای ماه تا انتهای همان خواهد بود.</p>
            <div class="instruction-item">
                <div class="icon-title mb-2">
                    <img src="/icons/calendar-blue.svg">
                    <h6>ماه و سال:</h6>
                </div>
                <p>ماه و سال مربوط به آماری که قصد ثبت آن را دارید از دو منوی کشویی در فرم مقابل قابل تنظیم هستند.</p>
                <p>لازم به ذکر است که با توجه به اینکه آمار باید به صورت ماهیانه ثبت گردد لذا دسترسی در بخش سال تنها برای سال جاری و سال گذشته امکان پذیر است.</p>
            </div>
            <div class="instruction-item">
                <div class="icon-title mb-2">
                    <img src="/icons/man-blue.svg">
                    <h6>تعداد بیمه های ورزشی آقایان:</h6>
                </div>
                <p>تعداد ورزشکاران سازمان یافته آقایان که با آیکون بالا مشخص شده است به صورت عددی ثبت می گردد.</p>
            </div>
            <div class="instruction-item">
                <div class="icon-title mb-2">
                    <img src="/icons/woman-blue.svg">
                    <h6>تعداد بیمه های ورزشی بانوان:</h6>
                </div>
                <p>تعداد ورزشکاران سازمان یافته بانوان که با آیکون بالا مشخص شده است به صورت عددی ثبت می گردد.</p>
            </div>
            <div class="instruction-item">
                <div class="icon-title mb-2">
                    <h6>تذکر:</h6>
                </div>
                <p>فرم به گونه ای طراحی شده است که پس از ثبت آمار یک هیات در تاریخ مشخصی نیاز به رفرش کردن صفحه نبوده و می توانید دیگر آمارها را نیز وارد نمایید.</p>
                <p>همچنین چنانچه تعداد ورزشکاران سازمان یافته هیات مربوطه برای ماه و سال انتخاب شده در فرم قبلا ثبت شده باشد، خطایی در خصوص عدم امکان ثبت اطلاعات جدید، نمایش داده خواهد شد.</p>
            </div>
        </div>
    </div>
    <div class="col2-5 mb-auto">
        <div class="card p-3">
            <EditForm method="post" Model="LocalFederationPresident" OnValidSubmit="AddPresident" FormName="create" Enhance>
                <DataAnnotationsValidator />
                <div class="form-group fa mb-3">
                    <label for="name" class="form-label">
                        <img src="/icons/user.svg" />
                    </label>
                    <InputText id="name" @bind-Value="LocalFederationPresident.Name" class="form-control" placeholder="نام و نام خانوداگی" />
                </div>
                <div class="form-row">
                    <div class="form-group en mb-3">
                        <label for="seencode" class="form-label">
                            <img src="/icons/idcard.svg" />
                        </label>
                        <InputText id="seencode" @bind-Value="LocalFederationPresident.SeenCode" class="form-control" placeholder="کد ملی" />
                    </div>
                    <div class="form-group en mb-3">
                        <label for="phone" class="form-label">
                            <img src="/icons/phone.svg" />
                        </label>
                        <InputText id="phone" @bind-Value="LocalFederationPresident.Phone" class="form-control" placeholder="شماره همراه" />
                    </div>
                </div>
                <div class="form-group en mb-3">
                    <label for="birthdate" class="form-label">
                        <img src="/icons/calendar.svg" />
                    </label>
                    <InputText id="birthdate" @bind-Value="LocalFederationPresident.BirthDate" class="form-control" placeholder="تاریخ تولد" />
                </div>
                <div class="form-row">
                    <div class="form-group fa mb-3">
                        <label for="educationalqualification" class="form-label">
                            <img src="/icons/school.svg" />
                        </label>
                        <InputText id="educationalqualification" @bind-Value="LocalFederationPresident.EducationalQualification" class="form-control" placeholder="مدرک تحصیلی" />
                    </div>
                    <div class="form-group fa mb-3">
                        <label for="educationalmajor" class="form-label">
                            <img src="/icons/school.svg" />
                        </label>
                        <InputText id="educationalmajor" @bind-Value="LocalFederationPresident.EducationalMajor" class="form-control" placeholder="رشته تحصیلی" />
                    </div>
                </div>
                <hr class="mt-0" />
                <div class="form-row">
                    <div class="form-group verification-sign mb-3">
                        <label for="ispresident" class="form-label">
                            <img class="verified" src="/icons/verified.svg" />
                            <img class="unverified" src="/icons/verified-off.svg" />
                        </label>
                        <InputCheckbox id="ispresident" @bind-Value="LocalFederationPresident.IsPresident" class="form-check-input" />
                    </div>
                    <div class="form-group en mb-3 w-100">
                        <label for="appointmentorder" class="form-label">
                            <img src="/icons/barcode.svg" />
                        </label>
                        <InputText id="appointmentorder" @bind-Value="LocalFederationPresident.AppointmentOrder" class="form-control" placeholder="شماره حکم تصدی" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group en mb-3">
                        <label for="appointmentdate" class="form-label">
                            <img src="/icons/calendar.svg" />
                        </label>
                        <InputText id="appointmentdate" @bind-Value="LocalFederationPresident.AppointmentDate" class="form-control" placeholder="تاریخ صدور حکم تصدی" />
                    </div>
                    <div class="form-group en mb-3">
                        <label for="termend" class="form-label">
                            <img src="/icons/calendar.svg" />
                        </label>
                        <InputText id="termend" @bind-Value="LocalFederationPresident.TermEnd" class="form-control" placeholder="تاریخ اتمام تصدی" />
                    </div>
                </div>
                <ValidationSummary class="text-danger" role="alert" />
                @if (!string.IsNullOrEmpty(statusMessage))
                {
                    <div class="alert alert-danger" role="alert">
                        @statusMessage
                    </div>
                }
                <button type="submit" class="btn btn-primary w-100">ثبت</button>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Guid Id { get; set; }

    [SupplyParameterFromForm]
    private LocalFederationPresident LocalFederationPresident { get; set; } = new();

    private string? statusMessage;

    private async Task AddPresident()
    {
        using var context = DbFactory.CreateDbContext();

        LocalFederationPresident.FederationId = Id;
        context.LocalFederationPresidents.Add(LocalFederationPresident);
        try
        {
            await context.SaveChangesAsync();
        }
        catch (Exception exception)
        {
            statusMessage = $"{exception.InnerException!.Message}";
            return;
        }

        NavigationManager.NavigateTo("/Dashboard/SportsGroup/Federations/Edit/" + LocalFederationPresident.FederationId);
    }
}
