@inherits LayoutComponentBase

@layout Layout.DashboardLayout

<AuthorizeView Policy="FullAccess">
    <Authorized>
        <nav class="secondary-navbar">
            <div class="container">
                <h5 class="sub-title">اماکن ورزشی سایر ارگان های دولتی</h5>
                <ul class="nav">
                    <li class="nav-item">
                        <NavLink href="/Dashboard/Govermentals" Match="NavLinkMatch.All">فهرست اماکن ورزشی سایر ارگان ها</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink href="/Dashboard/Govermentals/Add">ثبت مکان جدید</NavLink>
                    </li>
                </ul>
            </div>
        </nav>
        <article class="content py-3">
            <div class="container">
                @Body
            </div>
        </article>
    </Authorized>
</AuthorizeView>

@code {

}