@page "/Dashboard/HumanResource/Employees/Courses/{EmployeeId:guid}"

@using Microsoft.AspNetCore.Components.QuickGrid

@rendermode InteractiveServer

<div class="row">
	<div class="col1-1">
		<UserCoursesCard EmployeeId="@EmployeeId" />
	</div>
</div>

@code {
	[Parameter]
	public Guid? EmployeeId { get; set; }
}
