@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

@layout Layout.MainLayout

<nav class="secondary-navbar">
    <div class="container">
        <h5 class="sub-title">اماکن ورزشی</h5>
        <ul class="nav">
            <li class="nav-item">
                <NavLink href="/Facilities" Match="NavLinkMatch.All">وضعیت اماکن ورزشی</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/Facilities/M88">ماده 88</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/Facilities/M5">ماده 5</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/TechnicalDepartment">پروژه های عمرانی</NavLink>
            </li>
        </ul>
    </div>
</nav>
<article class="content">
    <div class="container py-3">
        @Body
    </div>
</article>

<script>
    window.scrollHelper = {
        onScroll: function (dotNetHelper) {
            window.addEventListener('scroll', () => {
                dotNetHelper.invokeMethodAsync('OnScroll', window.scrollY);
            });
        }
    };
</script>

@code {

}