::deep .list-card {
    background: none;
    box-shadow: none;
    overflow: visible;
    padding: 0;
}

    ::deep .list-card .card-header {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }

    ::deep .list-card .card-body,
    ::deep .list-card .card-footer {
        padding: var(--spacing-x);
        background: var(--card-bg);
        box-shadow: var(--card-box-shadow);
    }

        ::deep .list-card .card-body .table-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
        }

            ::deep .list-card .card-body .table-wrapper .quickgrid-table {
                width: 100%;
                border-collapse: separate;
                border-spacing: 0;
            }

            ::deep .list-card .card-body .table-wrapper .quickgrid-table.en {
                direction: ltr;
            }

                ::deep .list-card .card-body .table-wrapper .quickgrid-table thead tr {
                    background-color: var(--primary-color);
                    color: var(--light-color);
                }

                    ::deep .list-card .card-body .table-wrapper .quickgrid-table thead tr th {
                        padding: 12px 12px 8px;
                        text-align: center;
                        font-size: 13px;
                        font-weight: 600;
                    }

                        ::deep .list-card .card-body .table-wrapper .quickgrid-table thead tr th .col-title {
                            justify-content: center;
                            font-size: 13px;
                            font-weight: 600;
                        }

                        ::deep .list-card .card-body .table-wrapper .quickgrid-table thead tr th:first-child .col-title {
                            justify-content: right;
                        }

                ::deep .list-card .card-body .table-wrapper .quickgrid-table tbody tr {
                    background: #ffffff;
                }

                    ::deep .list-card .card-body .table-wrapper .quickgrid-table tbody tr:nth-child(2n) {
                        background: var(--light-color);
                    }

                    ::deep .list-card .card-body .table-wrapper .quickgrid-table tbody tr:hover {
                        transform: scale(1.01);
                        box-shadow: 0 0 8px 0px dimgray;
                    }

                    ::deep .list-card .card-body .table-wrapper .quickgrid-table tbody tr td {
                        padding: 8px 12px;
                        text-align: center;
                        font-size: 13px;
                        font-weight: 400;
                    }

                        ::deep .list-card .card-body .table-wrapper .quickgrid-table tbody tr td:first-child {
                            font-weight: 500;
                            text-align: right;
                        }

                        ::deep .list-card .card-body .table-wrapper .quickgrid-table tbody tr td:last-child {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
                            align-items: center;
                            gap: 16px;
                        }

                            ::deep .list-card .card-body .table-wrapper .quickgrid-table tbody tr td:last-child .edit-link {
                                opacity: 0;
                            }

                    ::deep .list-card .card-body .table-wrapper .quickgrid-table tbody tr:hover td:last-child .edit-link {
                        opacity: 1;
                    }

    ::deep .list-card.no-header {
        background-color: var(--card-bg);
        box-shadow: var(--card-box-shadow);
        overflow: hidden;
    }

        ::deep .list-card.no-header .card-header {
            padding: var(--card-padding-y) var(--card-padding-x);
        }

        ::deep .list-card.no-header .card-body .table-wrapper .quickgrid-table thead tr {
            display: none;
        }

        ::deep .list-card.no-header .card-body .table-wrapper .quickgrid-table tbody tr {
            background: var(--light-color);
        }

            ::deep .list-card.no-header .card-body .table-wrapper .quickgrid-table tbody tr:nth-child(2n) {
                background: #ffffff;
            }

            ::deep .list-card.no-header .card-body .table-wrapper .quickgrid-table tbody tr td {
                padding: 6px 12px 6px 8px;
            }
            ::deep .list-card.no-header .card-body .table-wrapper .quickgrid-table.en tbody tr td {
                padding: 6px 8px 6px 12px;
                direction: ltr;
                text-align: left;
            }


    ::deep .list-card .paginator {
        margin: 0;
        padding: 0;
        width: 100%;
        border: none;
    }

    ::deep .list-card .card-header .paginator {
        margin: 0;
        padding: 0;
        width: auto;
        border: none;
    }

        ::deep .list-card .card-header .paginator nav {
            flex-direction: row-reverse;
        }

            ::deep .list-card .card-header .paginator nav * {
                color: var(--dark-color);
                border-color: var(--primary-color);
            }
