@page "/Dashboard/Administration/Departments"

@using Microsoft.AspNetCore.Components.QuickGrid

@layout _Layout

@rendermode InteractiveServer

<PageTitle>پنل مدیریت</PageTitle>

<div class="page-top-menu">
    <h6 class="panel-title">ثبت و حذف واحدهای سازمانی</h6>
</div>
<div class="row form-wrapper">
    <div class="col3-5 mb-0">
        <div class="instructions">
            <p class="mb-0">در فرم مقابل آمار ورزشکاران سازمان یافته بر اساس هر هیات در هر شهرستان مربوط به ماه مشخصی ثبت می شوند.</p>
            <p class="mb-3">بدیهی است که آمار مربوطه معادل تعداد ورزشکاران آقا و خانم بیمه شده از ابتدای ماه تا انتهای همان خواهد بود.</p>
            <div class="instruction-item">
                <div class="icon-title mb-2">
                    <img src="/icons/calendar-blue.svg">
                    <h6>ماه و سال:</h6>
                </div>
                <p>ماه و سال مربوط به آماری که قصد ثبت آن را دارید از دو منوی کشویی در فرم مقابل قابل تنظیم هستند.</p>
                <p>لازم به ذکر است که با توجه به اینکه آمار باید به صورت ماهیانه ثبت گردد لذا دسترسی در بخش سال تنها برای سال جاری و سال گذشته امکان پذیر است.</p>
            </div>
        </div>
    </div>
    <div class="col2-5 mb-auto">
        @if (OrgDepartments is null)
        {
            <Loading CardMode=true />
        }
        else
        {
            <div class="card list-card no-header">
                <div class="card-header p-3 border-bottom">
                    <div class="w-100">
                        <EditForm method="post" Model="Department" OnValidSubmit="AddDepartment" FormName="edit" Enhance>
                            <div class="form-group en mb-3">
                                <label for="departmentname" class="form-label">
                                    <img src="/icons/group.svg" />
                                </label>
                                <InputText id="departmentname" @bind-Value="Department!.Name" class="form-control" placeholder="Department Name" />
                            </div>
                            <div class="form-row">
                                <div class="form-group fa">
                                    <label for="departmentpersianname" class="form-label">
                                        <img src="/icons/group.svg" />
                                    </label>
                                    <InputText id="departmentpersianname" @bind-Value="Department!.PersianName" class="form-control" placeholder="نام واحد سازمانی" />
                                </div>
                                <button type="submit" class="btn btn-primary flex-grow-0">
                                    <img src="/icons/group-add.svg" />
                                </button>
                            </div>
                        </EditForm>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-wrapper">
                        @if (OrgDepartments is not null)
                        {
                            <QuickGrid Items="OrgDepartments.AsQueryable()" Theme="" Class="quickgrid-table">
                                <PropertyColumn Property="@(department => department.PersianName)" />
                                <PropertyColumn Property="@(department => department.Name)" />
                                <TemplateColumn>
                                    <button class="btn p-0" @onclick="() => DeleteDepartment(context)">
                                        <img src="/icons/group-remove.svg" />
                                    </button>
                                </TemplateColumn>
                            </QuickGrid>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private Department? Department { get; set; } = new();

    private List<Department>? OrgDepartments;

    protected override async Task OnInitializedAsync()
    {
        await UpdateRoles();
    }

    private async Task UpdateRoles()
    {
        using var context = DbFactory.CreateDbContext();

        OrgDepartments = await context!.Departments
            .OrderBy(department => department.PersianName)
            .ToListAsync();

        Department = new();
        StateHasChanged();
        return;
    }

    private async Task AddDepartment()
    {
        using var context = DbFactory.CreateDbContext();
        
        context!.Add(Department!);
        await context.SaveChangesAsync();

        await UpdateRoles();
        return;
    }

    private async Task DeleteDepartment(Department Department)
    {
        using var context = DbFactory.CreateDbContext();
        
        context!.Departments.Remove(Department!);
        await context.SaveChangesAsync();

        await UpdateRoles();
        return;
    }
}
