.changepassword {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 32px;
}

    .changepassword .instructions-wrapper {
        flex: 0 1 60%;
        padding: 32px 0 16px 32px;
    }

        .changepassword .instructions-wrapper p {
            font-size: 15px;
            line-height: 26px;
            margin: 0;
        }

        .changepassword .instructions-wrapper .instruction-item .icon-title {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            gap: 8px;
        }

            .changepassword .instructions-wrapper .instruction-item .icon-title h6 {
                font-size: 15px;
                margin: 0;
            }

        .changepassword .instructions-wrapper .instruction-item p {
            color: #726e60;
            margin-bottom: 6px;
            margin-right: 32px;
        }


::deep.changepassword .form-wrapper.changepass-form {
    flex: 0 1 40%;
    padding: 64px;
}

::deep.changepassword .form-wrapper.changepass-form .form-header {
    padding-bottom: 32px;
    text-align: center;
}

::deep.changepassword .form-wrapper .oldpassword-wrapper + .text-danger {
    margin: 24px 0 0;
    list-style: none;
    font-size: 14px;
    direction: ltr;
    padding: 0;
}

    ::deep.changepassword .form-wrapper .oldpassword-wrapper + .text-danger li:not(:last-child) {
        margin-bottom: 8px;
    }
