::deep canvas {
    max-width: 200px;
    margin: 0 auto;
}

.legend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

    .legend .legend-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 25%;
        padding: 12px 0;
        border-bottom: 1px solid #d8e2ef;
    }

        .legend .legend-row:last-child {
            padding-bottom: 0;
            border-bottom: 0px solid #d8e2ef;
        }

        .legend .legend-row * {
            font-size: 13px;
            color: var(--light-color);
            margin: 0;
        }

        .legend .legend-row h6 {
            display: flex;
            gap: 6px;
            align-items: center;
            font-weight: 400;
            flex-grow: 1;
        }

            .legend .legend-row h6:before {
                display: inline-block;
                width: 12px;
                aspect-ratio: 1;
                border-radius: 50%;
                content: "";
            }

        .legend .legend-row.build h6:before {
            background: var(--secondary-color);
        }

        .legend .legend-row.completion h6:before {
            background: #95bdf2;
        }

        .legend .legend-row.maintenance h6:before {
            background: var(--light-color);
        }
