@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

@layout Layout.MainLayout

<nav class="secondary-navbar">
    <div class="container">
        <h5 class="sub-title">گروه بانوان</h5>
        <ul class="nav">
            <li class="nav-item">
                <NavLink href="/WomenGroup" Match="NavLinkMatch.All">ورزشکاران سازمان یافته</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/WomenGroup/Champions">مدال آوران</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/WomenGroup/GlobalSports">ورزش همگانی</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/WomenGroup/RuralSports">ورزش روستایی</NavLink>
            </li>
        </ul>
    </div>
</nav>
<article class="content">
    <div class="container">
        @Body
    </div>
</article>

<script>
    window.scrollHelper = {
        onScroll: function (dotNetHelper) {
            window.addEventListener('scroll', () => {
                dotNetHelper.invokeMethodAsync('OnScroll', window.scrollY);
            });
        }
    };
</script>

@code {

}