@* @page "/TechnicalDepartment/Projects" *@

<PageTitle>Construction Projects</PageTitle>

<div class="container">
    <h2 class="page-title mb-3">پروژه های عمرانی</h2>

    <div class="row">
        <div class="col1-1">
            <ProjectsProgressStatusCard />
        </div>
    </div>
    <div class="row mt-3">
        <div class="col1-1">
            <div class="card">
                <div class="card-header">
                    <h6 class="title">پروژه های نیمه تمام @city!.PersianName</h6>
                    <InputSelect class="select" @bind-Value="cityId" @onclick="SelectCity">
                        @foreach (City city in cities!)
                        {
                            <option value="@city.Id">@city.PersianName</option>
                        }
                    </InputSelect>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col1-2">
            <ProjectsRuralCityCard City=@city />
        </div>
        <div class="col1-2">
            <ProjectsTypesCityCard City=@city />
        </div>
    </div>
    <div class="row">
        <div class="col1-1">
            <ProjectsCityCard City=@city />
        </div>
    </div>
</div>

@code {
    private int cityId = 1;

    private City? city;
    private IQueryable<City>? cities;

    protected override void OnInitialized()
    {
        using var context = DbFactory.CreateDbContext();

        cities = context.Cities
            .Where(city => city.Id != 0);

        SelectCity();
    }

    private void SelectCity()
    {
        city = cities!.FirstOrDefault(m => m.Id == cityId);
    }
}