@page "/Athletes"

@using Microsoft.AspNetCore.Components.QuickGrid

<PageTitle>ورزشکاران سازمان یافته</PageTitle>

<div class="athletes-summary-top">
	<PopulationCard CityId="4" />
	<AthletesCountCard />
	<AthletesChampionCountCard />
</div>

<GraphicalSeperator Type="a" />

<AthletesDetailedCard />

@code {

}
