@page "/Federations"

<PageTitle>هیات های ورزشی</PageTitle>

<div class="row">
	<div class="col1-3">
		<FederationsCountCard />
	</div>
	<div class="col1-3">
		<FederationsNationalIdCountCard />
	</div>
	<div class="col1-3">
		<FederationsPresidentCountCard />
	</div>
</div>

<GraphicalSeperator />

<div class="row">
	<div class="col1-1">
		<FederationsListCard />
	</div>
</div>

@code {

}
