@page "/Federations"

<PageTitle>هیات های ورزشی</PageTitle>

<FederationsStatus />

@*
<div class="row">
	<div class="col1-2">
		<FederationsStatusCard />
	</div>
	<div class="col1-2">
		<FederationsProvinceStatusCard />
	</div>
</div>
*@
<div class="row">
	<div class="col1-1">
		<FederationsListCard />
	</div>
</div>

@code {

}
