@page "/"

<PageTitle>ورزش و جوانان شهرستان بندر انزلی</PageTitle>

<div class="main-header">
    <div class="main-header-title">
        <h1 class="display-1">پایگاه آماری</h1>
        <p class="text-1">اداره ورزش و جوانان <b><im>شهرستان بندر انزلی</im></b></p>
    </div>
    <div class="main-header-description card">
        <p class="text-3">
            پایگاه آماری حاضر، شامل اطلاعات آماری کامل و جامع در خصوص وضعیت کیفی ورزش
            و امور جوانان شهرستان بندر انزلی بوده
            و به جهت اطلاع مردم شریف این شهرستان در دسترس عموم قرار گرفته است.
        </p>
    </div>
</div>
<GraphicalStatus />
