@page "/M5"

<PageTitle>اماکن ورزشی خصوصی</PageTitle>

<div class="athletes-summary-top">
	<PopulationCard CityId="4" />
	<M5CountCard />
	<M5PerCapitaCard />
</div>

<GraphicalSeperator Type="c" />

<M5ListCard />

@code {

}
