@page "/M88"

<PageTitle>اماکن ورزشی دولتی</PageTitle>

<div class="athletes-summary-top">
	<PopulationCard CityId="4" />
	<M88CountCard />
	<M88PerCapitaCard />
</div>

<GraphicalSeperator Type="b" />

<M88ListCard />

@code {

}
