@using Microsoft.AspNetCore.Identity

<nav class="main-nav">
    <div class="main-nav-logo">
        <NavLink href="/" Match="NavLinkMatch.All">
            <img src="/icons/home.svg" />
        </NavLink>
    </div>
    <ul class="nav-menu main-nav-menu">
        <li class="menu-item main-nav-menu-item">
            <NavLink class="menu-link main-nav-link" href="/Panel/Federations">هیات های ورزشی</NavLink>
        </li>
        <li class="menu-item main-nav-menu-item">
            <NavLink class="menu-link main-nav-link" href="/Panel/Athletes">ورزشکاران سازمان یافته</NavLink>
        </li>
        <li class="menu-item main-nav-menu-item">
            <NavLink class="menu-link main-nav-link" href="/Panel/M88">ماده 88</NavLink>
        </li>
        <li class="menu-item main-nav-menu-item">
            <NavLink class="menu-link main-nav-link" href="/Panel/Orgs">اماکن سایر ارگان ها</NavLink>
        </li>
        <li class="menu-item main-nav-menu-item">
            <NavLink class="menu-link main-nav-link" href="/Panel/M5">ماده 5</NavLink>
        </li>
        <li class="menu-item main-nav-menu-item">
            <NavLink class="menu-link main-nav-link" href="/Panel/ChangePassword">تغییر رمزعبور</NavLink>
        </li>
    </ul>
    <div class="main-nav-account">
        <form method="post" action="/Account/Logout">
            <input name="returnUrl" value="" hidden />
            <button type="submit" class="nav-link">
                <img src="/icons/poweroff.svg" />
            </button>
        </form>
    </div>
</nav>

@code {

}
