.summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 16px;
}

    .summary .summary-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
        padding: 24px 16px;
        border: 1px solid var(--primary-color);
        border-radius: 12px;
        flex: 0 1 50%;
    }

        .summary .summary-item:first-child {
            border-radius: 0 12px 12px 0;
            /*flex: 0 1 69%;*/
        }

        .summary .summary-item:last-child {
            border-radius: 12px 0 0 12px;
            /*flex: 0 1 33%;*/
        }

        .summary .summary-item .total {
            font-weight: 400;
        }

        .summary .summary-item h6 {
            margin: 0;
            color: var(--primary-color);
        }

            .summary .summary-item h6.title {
                color: var(--black-color);
            }

        .summary .summary-item .counts {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 8px;
            flex: 0 1 50%;
        }

    .summary .counts .men,
    .summary .counts .women {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
    }

    .summary .summary-item .counts img {
        height: 48px;
    }

::deep.table-wrapper .quickgrid-table thead {
    position: sticky;
    top: 100px;
}
