<div class="card card2 cornered1">
	<div class="card-header pb-0 mb-2">
		<h6 class="title">تعداد هیات های فعال استانی</h6>
	</div>
	<div class="card-body pt-0">
		@if (federations is null)
		{
			<Loading />
		}
		else
		{
			<h2>@activeFederationsCount</h2>
			<div>
				<div class="d-flex justify-content-between">
					<p>تعداد هیات های دارای شناسه:</p>
					<b>@identifiedFederationsCount</b>
				</div>
				<div class="d-flex justify-content-between">
					<p>تعداد احکام ریاست:</p>
					<b>@federationPresidentsCount</b>
				</div>
				<div class="d-flex justify-content-between">
					<p>تعداد احکام سرپرستی:</p>
					<b>@federationInterimPresidentsCount</b>
				</div>
			</div>
		}
	</div>
</div>

@code {
	private IQueryable<LocalFederation>? federations;

	private int activeFederationsCount;
    private int identifiedFederationsCount;
    private int federationPresidentsCount;
	private int federationInterimPresidentsCount;

	protected override void OnInitialized()
	{
		using var context = DbFactory.CreateDbContext();

		federations = context.LocalFederations
			.Include(federation => federation.LocalFederationPresidents)
			.Where(federation => federation.CityId == 0);

		activeFederationsCount = federations!
			.Count(federation => federation.LocalFederationPresidents.Any());

		identifiedFederationsCount = federations!
			.Count(federation => !string.IsNullOrEmpty(federation.NationalId));

		federationPresidentsCount = federations!
			.Count(federation => federation.LocalFederationPresidents
                .OrderByDescending(president => president.AppointmentDate)
                .FirstOrDefault()!
                .IsPresident == true);

		federationInterimPresidentsCount = federations!
			.Count(federation => federation.LocalFederationPresidents
                .OrderByDescending(president => president.AppointmentDate)
                .FirstOrDefault()!
                .IsPresident == false);
	}
}
