.city-federations-card {
    background: none;
    box-shadow: none;
    overflow: visible;
    padding: 0;
}

    .city-federations-card .card-header {
        padding-left: 0;
        padding-right: 0;
    }

    .city-federations-card .card-body {
        padding: var(--spacing-x);
        background: var(--card-bg);
        box-shadow: var(--card-box-shadow);
    }

.summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0 16px;
    background: var(--primary-color);
    color: var(--light-color);
}

    .summary > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 8px 12px;
        border-left: 1px solid lightgray;
        flex: 0 1 25%;
    }

        .summary > div:last-child {
            border-left: none;
        }

.federations-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

    .federations-list ::deep.federations-table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
    }

        .federations-list ::deep.federations-table thead tr {
            background-color: lightgray;
        }
        .federations-list ::deep.federations-table thead tr th {
            padding: 12px 12px 8px;
            text-align: center;
            font-size: 13px;
            font-weight: 600;
        }

            .federations-list ::deep.federations-table thead tr th .col-title {
                justify-content: center;
                font-size: 13px;
                font-weight: 600;
            }

            .federations-list ::deep.federations-table thead tr th:first-child .col-title {
                justify-content: right;
            }

        .federations-list ::deep.federations-table tbody tr {
            background: #ffffff;
        }

            .federations-list ::deep.federations-table tbody tr:nth-child(2n) {
                background: var(--light-color);
            }

            .federations-list ::deep.federations-table tbody tr:hover {
                transform: scale(1.01);
                box-shadow: 0 0 8px 0px dimgray;
            }

            .federations-list ::deep.federations-table tbody tr td {
                padding: 8px 12px;
                text-align: center;
                font-size: 13px;
                font-weight: 400;
            }

                .federations-list ::deep.federations-table tbody tr td:first-child {
                    font-weight: 500;
                    text-align: right;
                }

                .federations-list ::deep.federations-table tbody tr td .info-link {
                    opacity: 0;
                    display: flex;
                    justify-content: flex-end;
                }

            .federations-list ::deep.federations-table tbody tr:hover td .info-link {
                opacity: 1;
            }

    .federations-list .paginator {
        margin: 8px 0 0;
        padding-bottom: 0;
        border-top: 1px solid lightgray;
    }