.card.cornered1 {
    background-image: url('images/card-corner-1.png');
}

.card.cornered2 {
    background-image: url('images/card-corner-2.png');
}

.card.cornered3 {
    background-image: url('images/card-corner-3.png');
}

.card.cornered1,
.card.cornered2,
.card.cornered3 {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left center;
    background-size: contain;
}
