
<ul class="nav">
    @*
    <li>
        <button class="btn">
            <img src="/icons/search.svg" />
        </button>
    </li>
    *@
    <li class="nav-item">
        <NavLink href="/" Match="NavLinkMatch.All">
            <img src="/icons/monitoring.svg" />
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink href="/SportsGroup">گروه ورزشی</NavLink>
    </li>
    <li class="nav-item">
        <NavLink href="/Facilities">اماکن ورزشی</NavLink>
    </li>
    <li class="nav-item">
        <NavLink href="/WomenGroup">امور بانوان</NavLink>
    </li>
    <li class="nav-item">
        <NavLink href="/Youth">امور جوانان</NavLink>
    </li>
    <li class="nav-item">
        <NavLink href="/HumanResource">امور اداری</NavLink>
    </li>
    <li class="nav-item">
        <NavLink href="/Dashboard">
            <AuthorizeView>
                <Authorized>
                    <img src="/icons/dashboard.svg" />
                </Authorized>
                <NotAuthorized>
                    <img src="/icons/account.svg" />
                </NotAuthorized>
            </AuthorizeView>
        </NavLink>
    </li>
</ul>

@code {

}
