@inject IJSRuntime JSRuntime

<div class="card">
    <div class="card-header">
        <h6 class="title">درصد شهری و روستایی</h6>
    </div>
    <div class="card-body">
        <canvas id="projectsRuralChart" class=""></canvas>
    </div>
    <div class="card-footer legend">
        <div class="legend-row urban">
            <h6>شهری</h6>
            <p>@urbanProjectsCount</p>
            <p>%@urbanProjectsPercentage</p>
        </div>
        <div class="legend-row rural">
            <h6>روستایی</h6>
            <p>@ruralProjectsCount</p>
            <p>%@ruralProjectsPercentage</p>
        </div>
    </div>
</div>

<script>
    let projectsRuralChart;

    function renderProjectsRuralChart(data) {
        const ctx = document.getElementById('projectsRuralChart').getContext('2d');

        if (projectsRuralChart) {
            projectsRuralChart.destroy();
        }

        projectsRuralChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['شهری', 'روستایی'],
                datasets: [{
                    data: data,
                    backgroundColor: ['#2e77ae', '#95bdf2'],
                    hoverBackgroundColor: ['#3e87be', '#95bdf2']
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: false,
                        position: 'top'
                    },
                    tooltip: {
                        bodyFont: {
                            family: 'IRANSans',
                            size: 11,
                        },
                        titleFont: {
                            family: 'IRANSans',
                            size: 12,
                        }
                    }
                },
                cutout: '65%'
            }
        });
    }


    function updateProjectsRuralChart (data) {
        if (projectsRuralChart) {
            projectsRuralChart.data.datasets[0].data = data;
            projectsRuralChart.update();
        }
    }
</script>

@code {
    [Parameter]
    public City? City { get; set; }

    private List<ConstructionProject>? Projects;
    private List<decimal> chartCounts = new List<decimal>();

    private int ruralProjectsCount;
    private decimal ruralProjectsPercentage;

    private int urbanProjectsCount;
    private decimal urbanProjectsPercentage;

    protected override async Task OnParametersSetAsync()
    {
        using var context = DbFactory.CreateDbContext();
     
        Projects = await context.ConstructionProjects
            .Include(project => project.City)
            .Include(project => project.Facility)
            .Include(project => project.ProjectProgresses)
            .Where(project => project.ProjectProgresses
                .Max(progress => progress.Percentage) < 100)
            .ToListAsync();

        if (City!.Id != 0)
        {
            Projects = Projects.Where(project =>
                project.City.Id == City!.Id)
                .ToList();
        }

        var projectsCount = Projects.Count();

        urbanProjectsCount = Projects
            .Where(project => project.Facility?.IsRural == false)
            .Count();

        ruralProjectsCount = Projects
            .Where(project => project.Facility?.IsRural == true)
            .Count();

        urbanProjectsPercentage = 0;
        ruralProjectsPercentage = 0;
        if (projectsCount > 0)
        {
            urbanProjectsPercentage = Math.Round(decimal.Divide(urbanProjectsCount * 100, projectsCount));
            ruralProjectsPercentage = Math.Round(decimal.Divide(ruralProjectsCount * 100, projectsCount));
        }

        chartCounts.Clear();
        chartCounts.Add(urbanProjectsCount);
        chartCounts.Add(ruralProjectsCount);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("renderProjectsRuralChart", chartCounts);
        }

        await JSRuntime.InvokeVoidAsync("updateProjectsRuralChart", chartCounts);
    }
}