@page "/Dashboard"

@inject IdentityUserAccessor UserAccessor

<PageTitle>پنل کاربری</PageTitle>

<div class="container py-3">
    <div class="home">
        @userName، خوش آمدید
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private ApplicationUser? User = default!;
    private string? userName;

    protected override async Task OnInitializedAsync()
    {
        User = await UserAccessor.GetRequiredUserAsync(HttpContext);
        userName = await UserManager.GetUserNameAsync(User);

        using var context = DbFactory.CreateDbContext();
        userName = await context.Employees
            .Where(employee => employee.AccountId == User!.Id)
            .Select(employee => $"{employee.FirstName} {employee.LastName}")
            .FirstOrDefaultAsync();
    }
}
