@inherits LayoutComponentBase

@layout Layout.AdminLayout

<AuthorizeView Policy="M5_Admin">
    <nav class="secondary-navbar bordered-card">
        <div class="container">
            <h5 class="sub-title">اماکن ورزشی دولتی</h5>
            <ul class="nav">
                <li class="nav-item">
                    <NavLink href="/Panel/M88" Match="NavLinkMatch.All">فهرست اماکن وزارت ورزش و جوانان</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="/Panel/M88/Add">ثبت مکان جدید</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="/Panel/M88/Contracts" Match="NavLinkMatch.All">فهرست قراردادهای ماده 88</NavLink>
                </li>
            </ul>
        </div>
    </nav>
    <article class="content py-3">
        @Body
    </article>
</AuthorizeView>

@code {

}