@inherits LayoutComponentBase

@layout Layout.DashboardLayout

<AuthorizeView Policy="HR_Manager" Context="AuthContext">
    <nav class="secondary-navbar">
        <div class="container">
            <h5 class="sub-title">امور اداری</h5>
            <ul class="nav">
                <li class="nav-item">
                    <NavLink href="/Dashboard/HumanResource" Match="NavLinkMatch.All">فهرست پرسنل</NavLink>
                </li>
                <AuthorizeView Policy="HR_Admin">
                    <li class="nav-item">
                        <NavLink href="/Dashboard/HumanResource/Employees/Add">ثبت پرسنل جدید</NavLink>
                    </li>
                </AuthorizeView>
                <li class="nav-item">
                    <NavLink href="/Dashboard/HumanResource/Education/Courses" Match="NavLinkMatch.All">فهرست دوره های آموزشی</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="/Dashboard/HumanResource/Education/Courses/Add">ثبت دوره جدید</NavLink>
                </li>
            </ul>
        </div>
    </nav>
    <article class="content py-3">
        <div class="container">
            @Body
        </div>
    </article>
</AuthorizeView>

@code {

}