@page "/SportsGroup/Athletes"

@using Microsoft.AspNetCore.Components.QuickGrid

@layout _Layout

<PageTitle>ورزشکاران سازمان یافته</PageTitle>

<div class="row">
    <div class="col1-1 mb-0">
        <AthletesSummaryCard />
    </div>
</div>

@if (Years is null)
{
    <Loading CardMode=true />
}
else
{
    <div class="row">
        <div class="col1-1">
            <div class="card color-card">
                <div class="card-header">
                    <h6 class="title">وضعیت ورزشکاران سازمان یافته در سال @Year</h6>
                    <InputSelect class="select" @bind-Value="Year">
                        @foreach (int year in Years!)
                        {
                            <option value="@year">@year</option>
                        }
                    </InputSelect>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col1-2">
            <AthletesCityStatusCard Year=@Year />
        </div>
        <div class="col1-2">
            <AthletesFederationStatusCard Year=@Year />
        </div>
    </div>
}

@code {
    [Parameter]
    public int? Year { get; set; } = null!;

    private List<int>? Years;

    protected override async Task OnInitializedAsync()
    {
        using var context = await DbFactory.CreateDbContextAsync();

        Years = await context.Insurances
            .GroupBy(m => m.Year)
            .Select(g => g.Key)
            .ToListAsync();

        Year = Years.FirstOrDefault();
    }
}
