@page "/SportsGroup"

@using Microsoft.AspNetCore.Components.QuickGrid

@layout _Layout

<PageTitle>هیات های ورزشی</PageTitle>

<div class="row">
	<div class="col1-3">
		<FederationsStatusCard />
	</div>
	<div class="col1-3">
		<FederationsProvinceStatusCard />
	</div>
	<div class="col1-3">
		<FederationsMeetingsStatusCard />
	</div>
</div>

<div class="row">
	<div class="col1-1 mb-0">
		<AthletesSummaryCard />
	</div>
</div>

<div class="row">
	<div class="col1-1 mb-0">
		<ChampionsSummaryCard />
	</div>
</div>

@code {

}
