@inject IJSRuntime JSRuntime

<div class="card card2 cornered2">
	<div class="card-header pb-0 mb-2">
		<h6 class="title">تعداد مجامع برگزار شده</h6>
	</div>
	<div class="card-body pt-0">
		@if (federations is null)
		{
			<Loading />
		}
		else
		{
			<h2>@federationMeetingsCount</h2>
			<div>
				<div class="d-flex justify-content-between">
					<p>تعداد مجامع عمومی:</p>
					<b>@generalFederationMeetingsCount</b>
				</div>
				<div class="d-flex justify-content-between">
					<p>تعداد مجامع انتخابی:</p>
					<b>@electiveFederationMeetingsCount</b>
				</div>
				<div class="d-flex justify-content-between">
					<p>تعداد مجامع فوق العاده:</p>
					<b>@extraOrdinaryFederationMeetingsCount</b>
				</div>
			</div>
		}
	</div>
</div>

@code {
	private IQueryable<LocalFederation>? federations;

	private int federationMeetingsCount;
	private int generalFederationMeetingsCount;
	private int electiveFederationMeetingsCount;
	private int extraOrdinaryFederationMeetingsCount;

	protected override void OnInitialized()
	{
		using var context = DbFactory.CreateDbContext();

		// var federationMeetings = context.FederationMeetings
		// 	.Include(meeting => meeting.Type)
		// 	.Where(meeting => meeting.Year == 1403);

		// federationMeetingsCount = federationMeetings.Count();

		// generalFederationMeetingsCount = federationMeetings
		// 	.Count(meeting => meeting.Type.Type == "General");

		// electiveFederationMeetingsCount = federationMeetings
		// 	.Count(meeting => meeting.Type.Type == "Elective");

		// extraOrdinaryFederationMeetingsCount = federationMeetings
		// 	.Count(meeting => meeting.Type.Type == "ExtraOrdinary");
	}
}
