.athletes-federations-list {
    justify-content: flex-start;
}

    .athletes-federations-list .list-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 64px;
        margin: 48px auto 32px;
    }

        .athletes-federations-list .list-header .header-year {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
            flex: 0 1 100%;
            border: 1px solid var(--card-border-color);
            border-radius: 50px;
            height: 58px;
            padding: 0 25px 0 15px;
        }

            .athletes-federations-list .list-header .header-year ::deep select {
                height: 32px;
                border-radius: 50px;
                padding: 5px 12px;
            }

        .athletes-federations-list .list-header .paginator {
            margin: 0;
            padding: 0;
        }

            .athletes-federations-list .list-header .paginator nav {
                gap: 16px;
            }

                .athletes-federations-list .list-header .paginator nav button {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--card-bg-color);
                    border: none;
                    border-radius: 50px;
                    aspect-ratio: 1;
                    height: 58px;
                    padding: 21px;
                }

                    .athletes-federations-list .list-header .paginator nav button:hover {
                        background-color: var(--primary-color);
                        border: none;
                    }

                    .athletes-federations-list .list-header .paginator nav button:disabled {
                        background-color: transparent;
                        border: 1px solid var(--card-border-color);
                    }

                    .athletes-federations-list .list-header .paginator nav button img {
                        height: 32px;
                    }

    .athletes-federations-list .counts-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        gap: 16px;
        margin: 32px auto;
    }

        .athletes-federations-list .counts-wrapper .year-count {
            flex: 0 1 25%;
        }

        .athletes-federations-list .counts-wrapper .federations-count {
            flex: 0 1 75%;
        }

.card .card-body .card-row .card-col img {
    height: 48px;
}

::deep .table-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

    ::deep .table-wrapper .quickgrid-table {
        flex-grow: 1;
        border-collapse: separate;
        border-spacing: 0;
    }

        ::deep .table-wrapper .quickgrid-table thead {
            display: none;
        }

        ::deep .table-wrapper .quickgrid-table tbody {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            gap: 16px;
        }

            .year-count,
            ::deep .table-wrapper .quickgrid-table tbody tr:has(*) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: stretch;
                flex-wrap: wrap;
                gap: 8px;
                padding: 21px;
                border: 1px solid var(--card-border-color);
                border-radius: 24px;
                flex: 0 1 100%;
            }

                .year-count .item-count:after,
                ::deep .table-wrapper .quickgrid-table td.item-count:after {
                    content: "";
                    width: 32px;
                    aspect-ratio: 1;
                    background-size: cover;
                    background-repeat: no-repeat;
                    margin-bottom: 4px;
                }

        .year-count .men:after,
        ::deep .table-wrapper .quickgrid-table td.item-count.men:after {
            background-image: url('/icons/man-blue.svg');
        }

        .year-count .women:after,
        ::deep .table-wrapper .quickgrid-table td.item-count.women:after {
            background-image: url('/icons/woman-blue.svg');
        }

                .year-count .title,
                ::deep .table-wrapper .quickgrid-table td.title {
                    padding: 12px;
                    margin-bottom: 24px;
                    border-radius: 8px;
                    background-color: var(--primary-color);
                    color: var(--light-color);
                    font-weight: 500;
                    font-size: 15px;
                    text-align: center;
                    width: 100%;
                    line-height: 1;
                }

        .year-count .total,
        ::deep .table-wrapper .quickgrid-table td.total {
            text-align: center;
            margin-bottom: 16px;
            width: 100%;
            font-weight: 400;
            line-height: 1;
        }

        .year-count .men,
        .year-count .women,
        ::deep .table-wrapper .quickgrid-table td.men,
        ::deep .table-wrapper .quickgrid-table td.women {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            width: 45%;
        }

                .year-count .title {
                    background-color: transparent;
                }
                .year-count .men,
                .year-count .women,
                .year-count .total {
                    color: var(--light-color);
                }