@using System.Globalization

<div class="card bordered-card white-card athletes-champion-count-card">
	<h5 class="header-6 card-title">قهرمانی و همگانی</h5>
	<div class="count-row">
		<p class="display-6">ورزش قهرمانی</p>
		<h4 class="header-5">@($"{championsAthletesCount:#,0}")</h4>
	</div>
	<div class="count-row">
		<p class="display-6">ورزش همگانی</p>
		<h4 class="header-5">@($"{generalAthletesCount:#,0}")</h4>
	</div>
</div>

@code {
	PersianCalendar persianCalendar = new PersianCalendar();

	private List<Insurance>? Insurances;

	private int championsAthletesCount;
	private int generalAthletesCount;

	protected override async Task OnInitializedAsync()
	{
		using var context = DbFactory.CreateDbContext();

		Insurances = await context.Insurances
			.Include(m => m.Federation)
			.ToListAsync();

		int currentYear = persianCalendar.GetYear(DateTime.Now);
		int currentMonth = persianCalendar.GetMonth(DateTime.Now);
		int lastYear = ((currentYear - 1) * 100) + currentMonth;

		championsAthletesCount = Insurances
			.Where(m => ((m.Year * 100) + m.Month) > lastYear)
			.Where(m => m.Federation.IsChampionship)
			.Sum(m => m.MenCount + m.WomenCount);

		generalAthletesCount = Insurances
			.Where(m => ((m.Year * 100) + m.Month) > lastYear)
			.Where(m => m.Federation.IsGeneral)
			.Sum(m => m.MenCount + m.WomenCount);
	}
}
