.federations-list {
    justify-content: flex-start;
}

    .federations-list .list-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 64px;
        margin: 48px auto 32px;
    }

        .federations-list .list-header .header-year {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
            flex: 0 1 100%;
            border: 1px solid var(--card-border-color);
            background-color: var(--card-bg-color);
            border-radius: 50px;
            height: 58px;
            padding: 0 25px 0 15px;
        }

        .federations-list .list-header .header-year .title {
            font-weight: 400;
        }

        .federations-list .list-header .paginator {
            margin: 0;
            padding: 0;
        }

            .federations-list .list-header .paginator nav {
                gap: 16px;
            }

                .federations-list .list-header .paginator nav button {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--card-bg-color);
                    border: none;
                    border-radius: 50px;
                    aspect-ratio: 1;
                    height: 58px;
                    padding: 21px;
                }

                    .federations-list .list-header .paginator nav button:hover {
                        background-color: var(--primary-color);
                        border: none;
                    }

                    .federations-list .list-header .paginator nav button:disabled {
                        background-color: transparent;
                        border: 1px solid var(--card-border-color);
                    }

                    .federations-list .list-header .paginator nav button img {
                        height: 32px;
                    }

    .federations-list .counts-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        gap: 16px;
        margin: 32px auto;
    }

        .federations-list .counts-wrapper .federations-count {
            flex: 0 1 100%;
        }

.card .card-body .card-row .card-col img {
    height: 48px;
}

::deep .table-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

    ::deep .table-wrapper .quickgrid-table {
        flex-grow: 1;
        border-collapse: separate;
        border-spacing: 0;
    }

        ::deep .table-wrapper .quickgrid-table thead {
            display: none;
        }

        ::deep .table-wrapper .quickgrid-table tbody {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            gap: 16px;
        }

            ::deep .table-wrapper .quickgrid-table tbody tr:has(*) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: stretch;
                padding: 21px;
                border: 1px solid var(--card-border-color);
                background-color: white;
                border-radius: 24px;
                flex: 0 1 25%;
            }

        ::deep .table-wrapper .quickgrid-table td.item-count {
            position: relative;
            font-weight: 400;
        }

        ::deep .table-wrapper .quickgrid-table td.title {
            padding: 12px;
            margin: 0 -8px -8px;
            margin-bottom: 0;
            border-radius: 8px;
            background-color: var(--primary-color);
            color: var(--light-color);
            font-size: 15px;
            font-weight: 500;
        }

        ::deep .table-wrapper .quickgrid-table td.nationalid {
            text-align: left;
            margin-top: 4px;
            margin-bottom: 64px;
        }

        ::deep .table-wrapper .quickgrid-table td.name {
            text-align: right;
            text-wrap: nowrap;
        }

        ::deep .table-wrapper .quickgrid-table td.type {
            text-align: right;
            text-wrap: nowrap;
            font-weight: 300;
            font-size: 12px;
            color: var(--primary-color);
        }
