<div class="graphical-seperator @Type">
    @if (Type == "a")
    {
        <div class="graphical-block double reverse">
            <div class="graphical-block-whitespace"></div>
        </div>
        <div class="graphical-block">
            <div class="graphical-block-whitespace"></div>
        </div>
        <div class="graphical-block reverse">
            <div class="graphical-block-whitespace"></div>
        </div>
        <div class="graphical-block double">
            <div class="graphical-block-whitespace"></div>
        </div>
        <div class="graphical-block double reverse">
            <div class="graphical-block-whitespace"></div>
        </div>
        <div class="graphical-block">
            <div class="graphical-block-whitespace"></div>
        </div>
    }
    else if (Type == "b")
    {
        <div class="graphical-block double">
            <div class="graphical-block-whitespace"></div>
        </div>
        <div class="graphical-block reverse">
            <div class="graphical-block-whitespace"></div>
        </div>
        <div class="graphical-block double">
            <div class="graphical-block-whitespace"></div>
        </div>
        <div class="graphical-block reverse double">
            <div class="graphical-block-whitespace"></div>
        </div>
        <div class="graphical-block">
            <div class="graphical-block-whitespace"></div>
        </div>
        <div class="graphical-block reverse">
            <div class="graphical-block-whitespace"></div>
        </div>
        <div class="graphical-block">
            <div class="graphical-block-whitespace"></div>
        </div>
    }
    else if (Type == "c" || Type == "d")
    {
        <div class="graphical-block reverse">
            <div class="graphical-block-whitespace"></div>
        </div>
        <div class="graphical-block double">
            <div class="graphical-block-whitespace"></div>
        </div>
        <div class="graphical-block reverse">
            <div class="graphical-block-whitespace"></div>
        </div>
        <div class="graphical-block">
            <div class="graphical-block-whitespace"></div>
        </div>
        <div class="graphical-block double reverse">
            <div class="graphical-block-whitespace"></div>
        </div>
        <div class="graphical-block">
            <div class="graphical-block-whitespace"></div>
        </div>
        <div class="graphical-block reverse">
            <div class="graphical-block-whitespace"></div>
        </div>
    }
</div>

@code {
    [Parameter]
    public string? Type { get; set; }
}