<div class="graphical-seperator @Type">
    <div class="graphical-block double reverse">
        <div class="graphical-block-whitespace"></div>
    </div>
    <div class="graphical-block">
        <div class="graphical-block-whitespace"></div>
    </div>
    <div class="graphical-block reverse">
        <div class="graphical-block-whitespace"></div>
    </div>
    <div class="graphical-block double">
        <div class="graphical-block-whitespace"></div>
    </div>
    <div class="graphical-block double reverse">
        <div class="graphical-block-whitespace"></div>
    </div>
    <div class="graphical-block">
        <div class="graphical-block-whitespace"></div>
    </div>
</div>

@code {
    [Parameter]
    public string? Type { get; set; }
}