.loading {
    position: relative;
    min-height: 128px;
    height: 100%;
    z-index: 998;
}

    .loading .loading-curtain {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .loading .loading-curtain img {
            width: 36px;
            aspect-ratio: 1;
        }
