@using System.Globalization

<div class="card bordered-card white-card athletes-count-card">
	<h5 class="header-6 card-title">اماکن ورزشی خصوصی</h5>
	<div class="count-cols-wrapper">
		<div class="count-col">
			<p class="display-6">دارای مجوز</p>
			<h4 class="header-5">@($"{licensedCount:#,0}")</h4>
		</div>
		<hr class="vertical-seperator" />
		<div class="count-col">
			<p class="display-6">فاقد مجوز</p>
			<h4 class="header-5">@($"{unlicensedCount:#,0}")</h4>
		</div>
	</div>
	<div class="count-row">
		<p class="display-6">تعداد باشگاه های خصوصی</p>
		<h6 class="header-5">@($"{totalCount:#,0}")</h6>
	</div>
</div>

@code {
    private int? totalCount = null!;
    private int? licensedCount = null!;
    private int? unlicensedCount = null!;
    
    PersianCalendar persianCalendar = new PersianCalendar();

    protected override async Task OnParametersSetAsync()
    {
        var nowDate = DateTime.Now.Date;
        var todayDate =
            persianCalendar.GetYear(nowDate) * 10_000 +
            persianCalendar.GetMonth(nowDate) * 100 +
            persianCalendar.GetDayOfMonth(nowDate);
        totalCount = null;

        using var context = DbFactory.CreateDbContext();

        var facilities = await context.PrivateFacilities
            .Include(m => m.PrivateFacilityLicenses)
            .Where(m => m.CityId == 4)
            .ToListAsync();

        totalCount = facilities.Count();

        unlicensedCount = facilities
            .Where(f => f.PrivateFacilityLicenses
                .All(l => !string.IsNullOrEmpty(l.ExpireDate) && Int32.Parse(l.ExpireDate!.Replace("-", "").Replace("/", "")) < todayDate))
            .Count();

        licensedCount = totalCount - unlicensedCount;
    }
}
