.page-top-menu {
    padding: 12px 16px;
    margin-bottom: 16px;
    background: var(--card-bg);
    box-shadow: var(--card-box-shadow);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    .page-top-menu .panel-title {
        margin: 0;
        padding: 4px 0;
        font-size: 14px;
    }

.form-group.active-sign {
    flex-grow: 0;
    height: 42px;
    border: 1px solid #a9a9a9;
    border-radius: 6px;
    aspect-ratio: 1;
}

    .form-group.active-sign ::deep.form-check-input {
        display: none;
    }

    .form-group.active-sign:has(.form-check-input) {
        border-color: #ff4040;
    }
    .form-group.active-sign:has(.form-check-input) img.active {
        display: none;
    }

    .form-group.active-sign:has(.form-check-input:checked) {
        border-color: #40aa40;
    }
    .form-group.active-sign:has(.form-check-input:checked) img.deactive {
        display: none;
    }
    .form-group.active-sign:has(.form-check-input:checked) img.active {
        display: block;
    }
