@page "/Dashboard/Courses"

@using Microsoft.AspNetCore.Components.QuickGrid

@inject IdentityUserAccessor UserAccessor

<PageTitle>شناسنامه آموزشی</PageTitle>

<div class="container py-3">
	@if(User is not null)
	{
		<UserCoursesCard EmployeeId="@User!.Id" />
	}
</div>

@code {
	[CascadingParameter]
	private HttpContext HttpContext { get; set; } = default!;

	private Employee? User;

	protected override async Task OnInitializedAsync()
	{
		var user = await UserAccessor.GetRequiredUserAsync(HttpContext);
		if (user is null)
		{
			return;
		}

		using var context = DbFactory.CreateDbContext();
		User = await context.Employees
			.FirstOrDefaultAsync(employee => employee.AccountId == user!.Id);
	}
}
