@page "/Dashboard/HumanResource/Education/Courses/Add"

@rendermode InteractiveServer

<PageTitle>اضافه کردن دوره</PageTitle>

<div class="courses-top-menu">
    <h6 class="panel-title">تعریف دوره آموزشی جدید</h6>
</div>

<div class="row form-wrapper">
    <div class="col3-5">
        <div class="instructions">
            <p class="mb-3">دوره ها و کلاس های آموزشی ضمن خدمت با اطلاعات ذیل در سامانه آماری اداره کل ورزش و جوانان استان گیلان ثبت می گردد.</p>
            <div class="instruction-item">
                <div class="icon-title mb-2">
                    <img src="/icons/title-blue.svg">
                    <h6>عنوان دوره:</h6>
                </div>
                <p>در فرم مربوطه بخش اول اطلاعات عنوان دوره آموزشی مورد نظر است.</p>
                <p>در این بخش عنوان دوره، نوع دوره بین عمومی یا تخصصی (شغلی) و نحوه برگزاری دوره از نظر مجازی یا حضوری قابل ویرایش می باشد.</p>
            </div>
            <div class="instruction-item">
                <div class="icon-title mb-2">
                    <img src="/icons/duration-blue.svg">
                    <h6>مدت دوره (ساعت):</h6>
                </div>
                <p>در بخش بعدی مدت دوره آموزشی را برحسب ساعت مشخص می کنید. بدیهی است که در حالت پیشفرض مقدار مدت دوره صفر در نظر گرفته شده است.</p>
            </div>
            <div class="instruction-item">
                <div class="icon-title mb-2">
                    <img src="/icons/calendar-blue.svg">
                    <h6>تاریخ برگزاری دوره:</h6>
                </div>
                <p>تاریخ برگزاری دوره در دو بخش ماه و سال در سامانه ذخیره می گردد. سال برگزاری دوره به صورت چهار رقمی و ماه برگزاری دوره به صورت دو رقمی وارد می شود.</p>
            </div>
        </div>
    </div>
    <div class="col2-5 mb-auto">
        <div class="card p-3">
            <EditForm method="post" Model="Course" OnValidSubmit="AddCourse" FormName="create" Enhance>
                <DataAnnotationsValidator />
                <div class="form-group fa mb-3">
                    <label for="title" class="form-label">
                        <img src="/icons/title.svg" />
                    </label>
                    <InputText id="title" @bind-Value="Course.Title" class="form-control" placeholder="عنوان دوره" />
                </div>
                <div class="form-row">
                    <div class="form-checkbox">
                        <label for="isgeneral" class="form-label">
                            <span class="checked">عمومی</span>
                            <span class="unchecked">تخصصی</span>
                        </label>
                        <InputCheckbox id="isgeneral" @bind-Value="Course.IsGeneral" class="form-check-input" hidden />
                    </div>
                    <div class="form-checkbox">
                        <label for="isonline" class="form-label">
                            <span class="unchecked">حضوری</span>
                            <span class="checked">مجازی</span>
                        </label>
                        <InputCheckbox id="isonline" @bind-Value="Course.IsOnline" class="form-check-input" />
                    </div>
                </div>
                <hr />
                <div class="form-row">
                    <div class="form-group en mb-3">
                        <label for="coursetime" class="form-label">
                            <img src="/icons/duration.svg" />
                        </label>
                        <InputNumber id="coursetime" @bind-Value="Course.CourseTime" class="form-control" placeholder="ساعت دوره" />
                    </div>
                    <div class="form-group en date mb-3">
                        <label for="year" class="form-label">
                            <img src="/icons/calendar.svg" />
                        </label>
                        <InputText id="year" maxlength="4" @bind-Value="Course.Year" class="form-control" placeholder="سال" />
                        <InputText id="month" maxlength="2" @bind-Value="Course.Month" class="form-control" placeholder="ماه" />
                    </div>
                </div>
                <ValidationSummary class="text-danger" role="alert" />
                <button type="submit" class="w-100 btn btn-primary">تایید</button>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private Course Course { get; set; } = new();

    private async Task AddCourse()
    {
        Course.Employees = null!;

        try
        {
            using var context = DbFactory.CreateDbContext();
            context.Courses.Add(Course);
            await context.SaveChangesAsync();
            NavigationManager.NavigateTo("/Dashboard/HumanResource/Education/Courses");
        }
        catch (Exception ex)
        {
            throw;
        }
    }
}

