@page "/Dashboard/HumanResource/Education/Courses"

@inject IdentityUserAccessor UserAccessor

<PageTitle>برنامه ریزی آموزش کارکنان</PageTitle>

<div class="row">
    <div class="col1-1">
        <CoursesCard />
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private ApplicationUser? User;

    protected override async Task OnInitializedAsync()
    {
        User = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}

