@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

@layout Layout.MainLayout

<nav class="secondary-navbar">
    <div class="container">
        <NavLink href="/SportsGroup">
            <h5 class="sub-title">گروه ورزشی</h5>
        </NavLink>
        <ul class="nav">
            <li class="nav-item">
                <NavLink href="/SportsGroup/Federations">هیات های ورزشی</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/SportsGroup/Champions">مدال آوران</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/SportsGroup/Athletes">ورزشکاران سازمان یافته</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/SportsGroup/Championships">میزبانی مسابقات بین المللی</NavLink>
            </li>
        </ul>
    </div>
</nav>
<article class="content py-3">
    <div class="container">
        @Body
    </div>
</article>

<script>
    window.scrollHelper = {
        onScroll: function (dotNetHelper) {
            window.addEventListener('scroll', () => {
                dotNetHelper.invokeMethodAsync('OnScroll', window.scrollY);
            });
        }
    };
</script>

@code {

}