<div class="row">
	<div class="col2-5">
		<div class="card color-card">
			<div class="card-header pb-0">
				<h6>دوره های آموزش ورزشی</h6>
			</div>
			<div class="card-body">
				<h2 class="total-value">93</h2>
				<div class="couple-value-bar">
					<div class="first-value-bar" style="width: 35%;">
						<span>35%</span>
					</div>
					<div class="last-value-bar" style="width: 65%;">
						<span>65%</span>
					</div>
				</div>
				<div class="captions">
					<span>داوری: <b>32</b></span>
					<span>مربیگری: <b>61</b></span>
				</div>
			</div>
		</div>
	</div>
	<div class="col3-10">
		<div class="card coaches-card">
			<div class="card-header pb-0">
				<h6 class="title">مربیان ورزشی</h6>
			</div>
			<div class="card-body">
				<h2 class="total">62</h2>
				<div class="genders-category">
					<p>آقایان<b>24</b><span>42%</span></p>
					<p>بانوان<b>38</b><span>58%</span></p>
				</div>
			</div>
		</div>
	</div>
	<div class="col3-10">
		<div class="card referees-card">
			<div class="card-header pb-0">
				<h6 class="title">داوران ورزشی</h6>
			</div>
			<div class="card-body">
				<h2 class="total">126</h2>
				<div class="genders-category">
					<p>آقایان<b>34</b><span>29%</span></p>
					<p>بانوان<b>92</b><span>71%</span></p>
				</div>
			</div>
		</div>
	</div>
</div>

@code {

}
